ul {
    display: flex;
    justify-content: center;
    font-size: 40px;
}

li{
    width: 250px;
    border-radius: 9px;
    border: 1px solid grey;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    padding: 30px;
    margin: 20px;
    background-color: #f7f7f7;
}

.i-html{
    background: url("0-sprite.png");
    width: 250px;
    height: 400px;
    display: block;
    background-position: -15px 0;
}

.i-css{
    background: url("0-sprite.png");
    width: 250px;
    height: 400px;
    display: block;
    background-position: -305px 0;
}

.i-js{
    background: url("0-sprite.png");
    width: 250px;
    height: 400px;
    display: block;
    background-position: -595px 0;
}